head {
    background-image: url("pink-hearts-background.jpg")
}
body {color:#fb6487; }
body {
    background-image: url("pink-hearts-background.jpg")
}
body {
    border-style: double;
}
body {
    outline-style: solid;
    outline-width: medium;
    outline-color: #fc3e6a; 
}